.App {
    text-align: center;
  }

  .top {
      color:#387aed;
      background:#387aed;
      position:fixed;
      height:10px;
      width:2000px;
      margin-top:0px;
      margin-left:0px;
  }

  .bg {
      color:white;
      background:#181717;
      position:fixed;
      height:500px;
      width:1180px;
      margin-left:150px;
      margin-top:150px;
      z-index:99;
      border:4px double #387aed;
    }

    .bgl {
        color:white;
        background:#3a3a3a;
        position:fixed;
        height:280px;
        width:500px;
        margin-left:470px;
        margin-top:270px;
        z-index:99;
        border:4px solid #387aed;
      }

  .container {
    padding: 16px;
    color:white;
    position:fixed;
    margin-top:150px;
    margin-left:160px;
    font-size:20px;
    z-index:9999;
  }


  .pic {
      margin-top:20px;
      margin-left:40px;
      color:#cdcdcd;
      position:fixed;
  }

  .App-title {
    position:fixed;
    color:white;
    text-shadow:2px 3px 2px #387aed;
    font-family:Trebuchet MS;
    font-size: 100px;
    margin-top:70px;
    margin-left:200px;
    z-index:999999;

  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #545454;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  