.top-border {
  background:#1B5FA8;
  position:absolute;
  height:5.75%;
  width:100%;
  margin-top: 0%;
}

.cunyimage {
  margin-left: 1%;
  margin-top: 0.3%;
  width: 10%;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}
